/*#003AA3 - текст
#5CA4FF - обводка
*/
QMainWindow{
    background-color: white;
}
QTabWidget#BigLabel{
    background: white;
    color: #003AA3;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:25px;
    font-family: SFUIText-Bold;
    font-size:16px;
    padding-left:12px;
    padding-right:12px;
}
QToolBar {
    background-color:#F0F7FE;
    spacing: 10px; /* spacing between items in the tool bar */
}
QToolBar::separator {
    background-color:#5CA4FF ;
    width: 1px;
}
QFrame#line {
    background: #A8CFFF;
}
QLabel{
    font-family: SFUIText-Light;
    font-size: 20px;
}
QLabel#BigLabel{
    color:#003AA3;
    font-family: SFUIText-Bold;
    font-size: 14px;
}
QLabel#MediumLabel{
    color:#003AA3;
    font-family: SFUIText-Light;
    font-size: 14px;
}
QLabel#BigBigLabel{
    color:#003AA3;
    font-family: SFUIText-Bold;
    font-size: 22px;
}
QPushButton{
    background: white;
    color: #003AA3;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:40px;
    font-family: SFUIText-Bold;
    font-size:16px;
    padding-left:12px;
    padding-right:12px;
}

QPushButton:hover{
    background: #5CA4FF;
    color: white;
}
QPushButton:disabled{
    background: #E0E0E0;
    color: #969696;
}
QPushButton:checked{
    background: #FFE73D;
    color: #003AA3;
}
QPushButton#BigButton{
    background: white;
    color: #003AA3;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:70px;
    font-family: SFUIText-Bold;
    font-size:16px;
    padding-left:12px;
    padding-right:12px;
}
QPushButton#BigButton:hover{
    background: #5CA4FF;
    color: white;
}
QPushButton#BigButton:disabled{
    background: #E0E0E0;
    color: #969696;
}
QPushButton#BigButton:checked{
    background: #FFE73D;
    color: #003AA3;
}
QCheckBox{
    font-family: SFUIText-Bold;
    font-size:20px;
    border-radius:4px;
    padding-left:5px;
    padding-right:5px;
}

QSpinBox{
    font-family: SFUIText-Bold;
    font-size:20px;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:40px;
    color: #003AA3;
    padding-left:5px;
    padding-right:5px;
}
QSpinBox:disabled{
    color: #969696;
}
QDoubleSpinBox{
    font-family: SFUIText-Bold;
    font-size:14px;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:40px;
    color: #003AA3;
    padding-left:5px;
    padding-right:5px;
}
QDoubleSpinBox:disabled{
    color: #969696;
}
QComboBox{
    font-family: SFUIText-Bold;
    font-size:20px;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:40px;
    color: #003AA3;
    padding-left:5px;
    padding-right:5px;
}
QComboBox:disabled{
    color: #969696;
    background: #E0E0E0;
}

/*Любой групбокс*/
QGroupBox{
    border: 1px solid #5CA4FF;
    font: bold 18px;
    font-family: SFUIText-Light;
    margin-top: 20 px;
    padding-top: 0 px;
}
QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top center; /* position at the top center */
    color: #003AA3;
    margin: 0 20px;
}

QGroupBox::indicator {
    width: 13px;
    height: 13px;
    border: 1px solid grey;
    background-color: rgba(204, 204, 204, 255);
}

QGroupBox::indicator:hover {
    background-color: rgba(235, 235, 235, 255);
}

QGroupBox::indicator:checked {
    image: url(:/qss/checkbox_checked.png);
}

QSplitter::handle{
    width: 2px;
    height: 2px;
    background: #E0EEFF;
}

QSplitter::handle:pressed{
    background: #B5B5B5;
}


QProgressBar {
    border: 1px solid #5CA4FF;
    border-radius: 5px;
    text-align: center;
    color:#003AA3;
    font-size:16px;
}

QProgressBar::chunk {
    background-color: #B3D5FF;
    width: 10px;
    margin: 0.5px;
}
QHeaderView::section {
  font-size: 12px;
}
QTableView {
  font-size: 16px;
}
QLineEdit{
    font-family: SFUIText-Bold;
    font-size:20px;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:40px;
    color: #003AA3;
    padding-left:5px;
    padding-right:5px;
}
QLineEdit:disabled{
    color: #969696;
    background: #E0E0E0;
}
