/*#003AA3 - текст
#5CA4FF - обводка
*/
QMainWindow{
    background-color: white;
}
QTabWidget#BigLabel{
    background: white;
    color: #003AA3;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:25px;
    font-family: SFUIText-Bold;
    font-size:16px;
    padding-left:12px;
    padding-right:12px;
}
QToolBar {
    background-color:#E0EEFF;
    spacing: 10px; /* spacing between items in the tool bar */
}
QToolBar::separator {
    background-color:#5CA4FF ;
    width: 1px;
}
QFrame#line {
    background: #A8CFFF;
}
QLabel{
    color:#003AA3;
    font-family: SFUIText-Light;
    font-size: 12px;
}
QLabel#BigLabel{
    color:#003AA3;
    font-family: SFUIText-Bold;
    font-size: 14px;
}
QLabel:disabled{
    color: #969696;
}
QPushButton{
    background: white;
    color: #003AA3;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:25px;
    font-family: SFUIText-Bold;
    font-size:16px;
    padding-left:12px;
    padding-right:12px;
}
QPushButton:hover{
    background: #5CA4FF;
    color: white;

}
QPushButton:disabled{
    background: #E0E0E0;
    color: #969696;
}
QPushButton:checked{
    background: #FFE73D;
    color: #003AA3;
}
QCheckBox{
    font-family: SFUIText-Bold;
    font-size:14px;
    border-radius:4px;
    min-height:25px;
    color: #003AA3;
    padding-left:5px;
    padding-right:5px;
}
QCheckBox:unchecked{
    color: #969696;
}
QSpinBox{
    font-family: SFUIText-Bold;
    font-size:14px;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:25px;
    color: #003AA3;
    padding-left:5px;
    padding-right:5px;
}
QSpinBox:disabled{
    color: #969696;
}
QLineEdit{
    font-family: SFUIText-Bold;
    font-size:14px;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:25px;
    color: #003AA3;
    padding-left:5px;
    padding-right:5px;
}
QLineEdit:disabled{
    color: #969696;
}
QDoubleSpinBox{
    font-family: SFUIText-Bold;
    font-size:14px;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:25px;
    color: #003AA3;
    padding-left:5px;
    padding-right:5px;
}
QComboBox{
    font-family: SFUIText-Bold;
    font-size:14px;
    border-radius:4px;
    border:1px solid #5CA4FF;
    min-height:25px;
    color: #003AA3;
    padding-left:5px;
    padding-right:5px;
}


/*Любой групбокс*/
QGroupBox{
    border: 1px solid #5CA4FF;
    font: bold 14px;
    font-family: SFUIText-Bold;
    margin-bottom: 2ex;
    padding-top: 15px;
}
QGroupBox::title {
    subcontrol-position: top center; /* position at the top center */
    color: #003AA3;
}
QGroupBox:disabled{
    color: #969696;
    background: #F0F0F0;
}
QSplitter::handle{
    width: 2px;
    height: 2px;
    background: #E0EEFF;
}

QSplitter::handle:pressed{
    background: #B5B5B5;
}


QProgressBar {
    border: 1px solid #5CA4FF;
    border-radius: 5px;
    text-align: center;
    color:#003AA3;
    font-size:16px;
}

QProgressBar::chunk {
    background-color: #B3D5FF;
    width: 10px;
    margin: 0.5px;
}
QLCDNumber:disabled{
    color: #B3B3B3;
}
QLineEdit:disabled{
     background: #F0F0F0;
     border-color: #B3B3B3;
}
